<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Page 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <pre>
    {{ listOfBooks | json }}
  </pre> -->
  <!-- <table>
    <tr>
      <th>Title</th>
      <th>Aothor</th>
      <th>Country</th>
    </tr>
    <tr *ngFor="let book of listOfBooks">
      <td>{{ book.volumeInfo.title }}</td>
      <td>{{ book.volumeInfo.authors ? book.volumeInfo.authors[0] : 'N/A' }}</td>
      <td>{{ book.saleInfo.country }}</td>
    </tr>
  </table> -->

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ detailOfCusttomer?.nama }}</ion-card-subtitle>
      <ion-card-title>{{ detailOfCusttomer?.telefon}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <p>BANGSA:{{ detailOfCusttomer?.bangsa }}</p>
          <h2>ALAMAT:{{ detailOfCusttomer?.alamat1}}</h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col size="12">
      <button (click)="goToRegister()">Daftar</button>
    </ion-col>
  </ion-row>
</ion-content>


